    h1{
        position: absolute;
        top: 25px;
        left: 500px;
        color: rgb(97, 95, 95);
    }
    .main{
            width: 50vw;
            height: 40vh;
            border: 1px solid gray;
            position: absolute;
            top: 20vh;
            left: 20vw;
            border-radius: 10px;
        }
        #main_select{
            width: 35vw;
            height: 5vh;
            position: relative;
            top: 4vh;
            left: 1vw;
            background-color: rgb(244, 245, 247);
        }
        .in{
            position: absolute;
            top: 15vh;
            left: 1vw;
            display: flex;
        }
        .in span{
            font-size: 25px;
            position: relative;
            top: 12px;
            font-weight: 800;
        }
        .in input{
            width: 15.5vw;
            height: 6vh;
        }
         .in select{
            height: 6vh;
            background-color: rgb(244, 245, 247);
        }
        .sel1{
            display: flex;
            flex-direction: column;
            margin-right: 10px;
        }
        .sel2{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }
    .span{
        position: relative;
        top: 28vh;
        left: 1vw;
    }
    .fText{
        background-color: rgba(245, 245, 116, 0.808);
        border-radius: 2px;
    }
    #Formula{
        margin-left: 20px;
    }